<ion-content>
  <div style="margin-left: 140px; margin-top: 35px;">
    <ion-row>
      <h3 style="text-align: center;">Mon profil</h3>
      <ion-icon name="settings" style=" margin-left: 80px; margin-top: 20px;" (click)="goToReglages()"></ion-icon>
    </ion-row>
  </div>


  <svg height="100" width="100" style="margin-left: 140px;">
    <circle cx="50" cy="50" r="40" stroke="cyan" stroke-width="3" fill="white"  />
  </svg>

  <div style="text-align: center;">
    <p style="font-size: 25px;">Nom Prenom</p>
  </div>

  <hr style="border-bottom: 1px solid black; margin-left: 40px; margin-right: 40px;">

  <ion-grid>
    <ion-row>
      <ion-col>
        Abonnés
      </ion-col>

      <ion-col>
        Distance Parcourus
      </ion-col>

      <ion-col>
        Membre depuis
      </ion-col>

    </ion-row>
  </ion-grid>


  <div style="text-align: center;">
    <ion-list>
      <ion-item><ion-icon name="trophy"></ion-icon>
        <ion-label style="margin-left: 105px;">Palmarès</ion-label>
      </ion-item>
    </ion-list>
    <p><ion-icon name="medal"></ion-icon>   Premier palmarès</p>
    <p><ion-icon name="medal"></ion-icon>   Second palmarès</p>
    <p><ion-icon name="medal"></ion-icon>   Troisième palmarès</p>
  </div>

  <div style="text-align: center;">
    <ion-list>
      <ion-item><ion-icon name="star"></ion-icon>
        <ion-label style="margin-left: 105px;">Exploits</ion-label>
        <ion-icon name="add-outline" (click)="goToExploit()"></ion-icon>
      </ion-item>
    </ion-list>
    <p>Premier exploit</p>
    <p>Second exploit</p>
    <p>Troisième exploit</p>
  </div>

</ion-content>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="earth">
      <ion-icon name="earth" (click)="goToHome()"></ion-icon>
      <ion-label>Actualité</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="compass-outline">
      <ion-icon name="compass-outline" (click)="goToParcours()"></ion-icon>
      <ion-label>Parcours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person-outline" (click)="goToProfil()"></ion-icon>
      <ion-label >Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
