<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Recherche
    </ion-title>

    <ion-buttons slot="end" style="z-index: 1099;">
      <ion-icon name="settings" (click)="goToReglages()"></ion-icon>

    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  
  <ion-card (click)="goToProche()">
    <ion-card-header>
      <ion-card-subtitle>Parcours 1</ion-card-subtitle>
      <ion-card-title>Paris, France</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToProche()">
    <ion-card-header>
      <ion-card-subtitle>Parcours 2</ion-card-subtitle>
      <ion-card-title>Paris, France</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToProche()">
    <ion-card-header>
      <ion-card-subtitle>Parcours 3</ion-card-subtitle>
      <ion-card-title>Paris, France</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>


</ion-content>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="earth">
      <ion-icon name="earth" (click)="goToHome()"></ion-icon>
      <ion-label>Actualité</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="compass-outline">
      <ion-icon name="compass-outline" (click)="goToParcours()"></ion-icon>
      <ion-label>Parcours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person-outline" (click)="goToProfil()"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

