<ion-content>
  <div style="margin-left: 120px;">
    <ion-row>
      <h3 style="text-align: center;">Recherche</h3>
      <ion-icon name="settings" style=" margin-left: 80px; margin-top: 20px;" (click)="goToReglages()"></ion-icon>
    </ion-row>
  </div>

  <ion-searchbar></ion-searchbar>
  
  <ion-card (click)="goToProche()">
    <ion-card-header>
      <ion-card-subtitle>Parcours 1</ion-card-subtitle>
      <ion-card-title>Paris, France</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToProche()">
    <ion-card-header>
      <ion-card-subtitle>Parcours 2</ion-card-subtitle>
      <ion-card-title>Paris, France</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToProche()">
    <ion-card-header>
      <ion-card-subtitle>Parcours 3</ion-card-subtitle>
      <ion-card-title>Paris, France</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>


</ion-content>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="earth">
      <ion-icon name="earth" (click)="goToHome()"></ion-icon>
      <ion-label>Actualité</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="compass-outline">
      <ion-icon name="compass-outline" (click)="goToParcours()"></ion-icon>
      <ion-label>Parcours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person-outline" (click)="goToProfil()"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

