
<ion-content>

  <div style="margin-left: 140px;">
    <ion-row>
      <h3 style="text-align: center;">Parcours</h3>
      <ion-icon name="settings" style=" margin-left: 80px; margin-top: 20px;" (click)="goToReglages()"></ion-icon>
    </ion-row>
  </div>


  <ion-button expand="block" color="dark" style="margin-top: 100px;" (click)="goToRecherche()">Rechercher un parcours</ion-button>

  <br>

  <ion-button expand="block" color="dark" style="margin-top: 50px;" (click)="goToProche()" >Trouver le parcours le proche</ion-button>

  <br>

  <ion-button expand="block" color="dark" style="margin-top: 50px;" (click)="goToCreer()">Creer un nouveau parcours</ion-button>

  <br>

  <ion-button expand="block" color="dark" style="margin-top: 50px;" (click)="goToMap()">Lancer un parcours</ion-button>

  <br>

</ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="earth">
        <ion-icon name="earth" (click)="goToHome()"></ion-icon>
        <ion-label>Actualité</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="compass-outline">
        <ion-icon name="compass-outline" (click)="goToParcours()"></ion-icon>
        <ion-label>Parcours</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="person-outline" (click)="goToProfil()"></ion-icon>
        <ion-label >Profil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>