<ion-content>
  <div style="margin-left: 120px;">
    <ion-row>
      <h3 style="text-align: center;">Fil d'actualité</h3>
      <ion-icon name="settings" style=" margin-left: 80px; margin-top: 20px;" (click)="goToReglages()"></ion-icon>
    </ion-row>
  </div>

  <ion-searchbar></ion-searchbar>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Utilisateur 1</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Utilisateur 2</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Utilisateur 3</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


</ion-content>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="earth">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Actualité</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="parcours">
      <ion-icon name="compass-outline" (click)="goToParcours()"></ion-icon>
      <ion-label>Parcours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-outline" (click)="goToProfil()"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

