<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Fil d'actualité
    </ion-title>

    <ion-buttons slot="end" style="z-index: 101;">
      <ion-icon name="settings" (click)="goToReglages()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>
  
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <svg height="100" width="100" style="margin-top: -40px; margin-left: -40px">
              <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white"  />
            </svg>
          </ion-col>
          <ion-col>
            <ion-card-subtitle style="margin-left: -100px;">Utilisateur 1 </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr style="border-top: 2px solid black;">
      <ion-card-title>A fait un nouveau records</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <svg height="100" width="100" style="margin-top: -40px; margin-left: -40px">
              <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white"  />
            </svg>
          </ion-col>
          <ion-col>
            <ion-card-subtitle style="margin-left: -100px;">Utilisateur 2 </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr style="border-top: 2px solid black;">
      <ion-card-title>Création d'un parcours</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <svg height="100" width="100" style="margin-top: -40px; margin-left: -40px">
              <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white"  />
            </svg>
          </ion-col>
          <ion-col>
            <ion-card-subtitle style="margin-left: -100px;">Utilisateur 3 </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr style="border-top: 2px solid black;">
      <ion-card-title>A fait ce parcours</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../assets/icon/parcours.jpg"></ion-img>
    </ion-card-content>
  </ion-card>


</ion-content>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="earth">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Actualité</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="parcours">
      <ion-icon name="compass-outline" (click)="goToParcours()"></ion-icon>
      <ion-label>Parcours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-outline" (click)="goToProfil()"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

